<div class="jumbotron">
	<h1>Let's Learn English</h1>
	<p>Learn English and improve your accent by learning famous songs!</p>
	<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %> <%= link_to "Log in", "#", class: "btn btn-warning btn-lg" %> </p>
</div>