<h1>Lessons</h1>
<p>In this section we will have all of the lessons posted for you to work through at your own pace. Each song will be broken down and you will get a vocabulary list and grammar for each one. Also, you will be asked to learn an audio response about what you think the song is about or describing it in some way. </p>